<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

    <title>Document</title>
</head>
<body>
    <nav> 
        <h4>Node MySQL</h4>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        
    </ul>
    </nav>
    <div class="container mt-4">
<div class="jumbotron">
        <h1 class="display-4" >Login Project</h1>
        <p class="lead">Welcome to the Login Project!</p>
<p class="lead">This application allows users to register and securely log in using a Node.js and MySQL backend. It demonstrates how authentication works in a real-world app.</p>
        <hr class="my-4">
        <p>Designed with simplicity and responsiveness in mind, this project is a great starting point for learning how authentication works in web applications.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/more" role="button">Learn more</a>
        </p>
</div>
    </div>
    <h1></h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</body>
</html>