<!DOCTYPE html>
<html lang="en">
<head>
  <title>Logged Out</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
   <nav>
    <h4>Wellness App</h4>
    <ul style="display: flex; justify-content: center; list-style: none;">
        <li><a href="/register" class="btn">Login Again</a></li>
           <li><a href="/" class="btn">Go to Home</a></li>        
       </ul>
        </nav>
  <div class="container">
    <h2>You have been successfully logged out.</h2>
    
    
  </div>
</body>
</html>
